@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* ===================

base styles

====================== */

:root {
  --color-primary-bright-orange: #e38826;
  --color-primary-dark-cyan: #006970;
  --color-primary-very-dark-cyan:	#004241;

  --color-neutral-white: #fff;
  --color-neutral-light-gray:	#f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Lexend Deca', serif;
  line-height: 1.4;
  background-color: var(--color-neutral-light-gray);
  min-height: 100vh;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}

main {
  width: 90%;
  margin: 50px auto;
}

/* ===================

sedans section styles

====================== */

.sedans {
  border-radius: 10px 10px 0 0;
  background-color: var(--color-primary-bright-orange);
  padding: 50px 70px;
}

.sedans__img {
  margin-bottom: 25px;
}

.sedans__title {
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--color-neutral-light-gray);
  margin-bottom: 25px;
}

.sedans__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: var(--color-neutral-white);
  opacity: .8;
  margin-bottom: 25px;
}

.sedans__btn {
  padding: 15px 30px;
  font-size: 14px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: var(--color-neutral-light-gray);
  color: var(--color-primary-bright-orange);
  transition: all .25s;
}

.sedans__btn:hover {
  color: var(--color-neutral-white);
  opacity: .8;
  background: none;
  border-color: var(--color-neutral-white);
}

/* ===================

suvs section styles

====================== */

.suvs {
  background-color: var(--color-primary-dark-cyan);
  padding: 50px 70px;
}

.suvs__img {
  margin-bottom: 25px;
}

.suvs__title {
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--color-neutral-light-gray);
  margin-bottom: 25px;
}

.suvs__description {
  font-size: 15px;
  line-height: 1.7;
  color: var(--color-neutral-white);
  opacity: .8;
  margin-bottom: 25px;
}

.suvs__btn {
  padding: 15px 30px;
  font-size: 14px;
  border: 2px solid transparent;
  background-color: var(--color-neutral-light-gray);
  color: var(--color-primary-dark-cyan);
  border-radius: 30px;
  transition: all .25s;
}

.suvs__btn:hover {
  color: var(--color-neutral-white);
  opacity: .8;
  background: none;
  border: 2px solid var(--color-neutral-white);
}


/* ===================

luxury section styles

====================== */

.luxury {
  padding: 50px 70px;
  background-color: var(--color-primary-very-dark-cyan);
  border-radius: 0 0 10px 10px;
}

.luxury__img {
  margin-bottom: 25px;
}

.luxury__title {
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--color-neutral-light-gray);
  margin-bottom: 25px;
}

.luxury__description {
  font-size: 15px;
  line-height: 1.7;
  color: var(--color-neutral-white);
  opacity: .8;
  margin-bottom: 25px;
}

.luxury__btn {
  padding: 15px 30px;
  font-size: 14px;
  background-color: var(--color-neutral-white);
  color: var(--color-primary-very-dark-cyan);
  border: 2px solid transparent;
  border-radius: 30px;
  transition: all .25s;
}

.luxury__btn:hover {
  color: var(--color-neutral-white);
  opacity: .8;
  background: none;
  border: 2px solid var(--color-neutral-white);
}

/* ===================

desktop styles

====================== */

@media (min-width: 1100px) {
  main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .sedans {
    border-radius: 10px 0 0 10px;
  }

  .sedans__description {
    margin-bottom: 100px;
  }

  .suvs__description {
    margin-bottom: 100px;
  }

  .luxury {
    border-radius: 0 10px 10px 0;
  }

  .luxury__description {
    margin-bottom: 100px;
  }
}